{% extends 'base.html.twig' %}

{% block title %}Créer un questionnaire{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin_create.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin_create.js') }}"></script>
{% endblock %}

{% block body %}
<div class="pagecreate">
    <div class="pagecreatecontenu">
        <div class="pagecreatetitre">
            <h3>Créer un nouveau questionnaire</h3>
        </div>

        <div class="pagecreatecorp">
            <div class="pagecreatecorpquestionnaire">
                {{ form_start(form) }}

                <div class="pagecreatecorpquestionnairetitre">
                    {{ form_row(form.titre) }}
                </div>
                <div class="pagecreatecorpquestionnairedescription">
                    {{ form_row(form.description) }}
                </div>

                <div class="pagecreatecorpquestionnairetitrequestion">
                    <h4>Questions du questionnaire</h4>
                </div>

                {# Prototype des questions (chaque question contient aussi ses réponses) #}
                {% set questionPrototype %}
                    {% set prototype = form.questions.vars.prototype %}
                    <div class="question-block">
                        {{ form_row(prototype.texteQuestion) }}

                        {% set reponsePrototype = form_widget(prototype.reponses.vars.prototype) | e('html_attr') %}
                        <div class="reponses-container" data-prototype="{{ reponsePrototype }}">
                            <h6>Réponses</h6>
                            {% for reponseForm in prototype.reponses %}
                                <div class="reponse-block">
                                    {{ form_row(reponseForm.texteReponse) }}
                                    {{ form_row(reponseForm.valeur) }}
                                </div>
                            {% endfor %}
                            <button type="button" class="add-reponse">Ajouter une réponse</button>
                        </div>
                    </div>
                {% endset %}

                <div id="questions-container" data-prototype="{{ questionPrototype|e('html_attr') }}">
                    {% for questionForm in form.questions %}
                        <div class="question-block">
                            {{ form_row(questionForm.texteQuestion) }}

                            {% set reponsePrototype = form_widget(questionForm.reponses.vars.prototype) | e('html_attr') %}
                            <div class="reponses-container" data-prototype="{{ reponsePrototype }}">
                                <h6>Réponses</h6>
                                {% for reponseForm in questionForm.reponses %}
                                    <div class="reponse-block">
                                        {{ form_row(reponseForm.texteReponse) }}
                                        {{ form_row(reponseForm.valeur) }}
                                    </div>
                                {% endfor %}
                                <button type="button" class="add-reponse">Ajouter une réponse</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="boutonajouter">
                    <button type="button" id="add-question">Ajouter une question</button>
                </div>

                <div class="boutoncreer">
                    <button type="submit">Créer</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
